@CHARSET "ISO-8859-1";

body {
	background-color:#ffffff;
	}
	
div{
	position: relative;
	background-color: #eeeeee;
	}
	
div#banner
	{
	background-color:#0E3050;
	width: 100%;
	height:  51px;
	}
div#month{
	background-color: 110000;
	}
div#challenge{
	background-color: 001100;
	}
div#name
	{
	
	}
div#meters
	{
	
	}
div#time
	{
	
	}